/* Für diese Animation brauchst du zwei Boxen die sich bei Mouseover (:hover) von <section> bewegen. 
Sie sollen gleichzeitig ankommen, jedoch soll die untere Box 1 Sekunde nach der oberen starten.
Section hat Position Relative, divs haben Position Absolute.
Um Position zu ändern nutze beim :hover {left:90%};
Setze die Startposition der div auf left: 0
HTML Code befindet sich im Kommentar.
Bitte schaue dir die Animation in der Ergebnisvorschau an. */
* {
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  height: 130px;
  background: rgb(240, 235, 235);
}
div {
  position: absolute;
  left: 0;
}
.red {
  height: 50px;
  width: 50px;
  background: red;
  transition: 3s;
}
.green {
  height: 50px;
  width: 50px;
  background: green;
  top: 65px;
  transition: 2s;
  transition-delay: 1s;
}
section:hover div {
  left: 90%;
}
